# Build files
*.o
*.d
*.asm
*.sym

# Images and binaries
fs.img
kernel/kernel
mkfs/mkfs

# Generated user programs
user/_*
user/initcode
user/initcode.out

# Git
.git/git remote add origin https://github.com/inbarlevi231/operating-system-extension